.flip {
    transform: scaleX(-1);
}
.playerid_input {
    color: white;
    max-width: 10em;
}

.facet_input {
    max-width: 12em;
}

.xs2 {
    align-self: center;
}

table.table tbody td {
    height: 2em;
}

.card {
    margin-bottom: 1em;
}
